//Colors

$blue: #247ba0;
$green: #77cebf;
$grey:#eee;
$off-white: #f4f4f4;

//Fonts
$base-font:sans-serif;
$fixed-font:'Roboto Condensed';
$font-family:'Roboto Condensed', sans-serif;
//-font weights
$light:300;
$reg:400;
$bold:700;